<div class="card card-lg">
  <div class="card-header">
    <div class="pull-left img">
      <%= render :partial => svg %>
    </div>
    <strong>
      <h3>
        <p class="info">
          <%= text %>
        </p>
      </h3>
    </strong>
  </div>
  <p>
    <%= describe %>
  </p>
</div>
