

    
<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

<script type="text/javascript">
	$(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html, body').animate({scrollTop:$(this.hash).offset().top}, 1200);
		});

		$('#da-slider').cslider({
			autoplay	: true,
			bgincrement	: 3000
		});
	
	});
</script>


<!-- start slider -->
<div class="slider_bg" id="home">

	<div class="container">
		<div class="col-lg-4">
			<h2 class="centered logo-text">Bnservice</h1>
		</div>
		<div class="col-lg-4">
			<h1 class="centered slider-text">
				<span class="icon icon-html5 big-ico"></span>
			</h1>
		</div>
		<div class="col-lg-4">
			<h2 class="centered slider-text">
				<span class="icon icon-mobile"></span> +34 59855 9853 <br/>				
			</h2>
		</div>
	</div>

	<div class="wrap">
		<div class="slider">
			<!--start-da-slider-->
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Обслуживание объектов связи</h2>
					<p>Обслуживание антенно-мачтовых сооружений объектов связи.</p>
				</div>
				<div class="da-slide">
					<h2>Инсталляция и интеграция</h2>
					<p>Инсталляция и интеграция радиоэлектронных и мультимедийных систем.</p>
				</div>
				<div class="da-slide">
					<h2>Сервисные услуги</h2>
					<p>Сервисное и техническое обслуживание электроники.</p>
				</div>
				<div class="da-slide">
					<h2>Разработка</h2>
					<p>Разработка систем управления производственных линий и технологических комплексов.</p>
				</div>
				<div class="da-slide">
					<h2>Сопровождение
					</h2>
					<p>Обслуживание, модернизация и ремонт систем управления на базе программируемых логических контроллеров.</p>
				</div>				
			</div> 			
 		</div>
	</div>
</div>
<!--//End-da-slider-->

<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
	<div class="row white">
	<br>
		<h1 class="centered">О нас</h1>
		<hr>
		
		<div class="col-lg-6">
			<p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
		</div><!-- col-lg-6 -->
		
		<div class="col-lg-6">
			<p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
		</div><!-- col-lg-6 -->
	</div><!-- row -->
</div><!-- container -->

<div class="container" id="contact" name="contact">

	<h1 class="centered">Как нас найти</h1>
	<hr>

	<div class="map">			
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16655.18926007363!2d49.6358475!3d58.546737549999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf6d0bfcb665d%3A0x300cf601fd1f14ec!2z0KfQuNGB0YLRi9C1INCf0YDRg9C00YssINCa0LjRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2s!4v1411639825469" width="100%" height="250" frameborder="0" style="border:0"></iframe>
	</div>


	<div class="row">
	<br>
		<h1 class="centered">Свяжитесь с нами</h1>
		<hr>
		<br>
		<br>
		<div class="col-lg-5">
			<h3>Контактная информация</h3>
			<p><span class="icon icon-home"></span> Киров, Россия<br/>
				<span class="icon icon-phone"></span> +34 9884 4893 <br/>
				<span class="icon icon-mobile"></span> +34 59855 9853 <br/>
				<span class="icon icon-envelop"></span> <a href="#"> admin@bnservice.pro</a> <br/>
				<span class="icon icon-twitter"></span> <a href="#"> @bnservice </a> <br/>
				<span class="icon icon-facebook"></span> <a href="#"> Bnservice </a> <br/>
			</p>
		</div><!-- col -->
		
		<div class="col-lg-7">
			<h3>Написать письмо</h3>
			<p>
				<form class="form-horizontal" role="form">					
				  <div class="form-group">				    
				    <div class="col-lg-6">
				    	<label for="inputEmail1" class="col-lg-4 control-label"></label>
				      	<input type="email" class="form-control" id="inputEmail1" placeholder="Email">
				    </div>
				  <!--/div>
				  <div class="form-group"-->				    
				    <div class="col-lg-5">
				    	<label for="text1" class="col-lg-4 control-label"></label>
				      	<input type="text" class="form-control" id="text1" placeholder="Ваше имя">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="text2" class="col-lg-4 control-label"></label>
				    <div class="col-lg-11">
				      	<textarea type="text" class="form-control" id="text2" placeholder="Текст сообщения"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-lg-10">
				      <button type="submit" class="btn btn-primary">Отправить</button>
				    </div>
				  </div>
			   </form><!-- form -->
			   <br>
			</p>
		</div><!-- col -->		

	</div><!-- row -->

</div><!-- container -->

<div id="footerwrap">
	<div class="container">
		<h4>Created by <a href="#">Me</a> - Copyright 2014</h4>
	</div>
</div>