

    
<link href='//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Kelly+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<div class="col-lg-12 container-alert">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert col-lg-10 center-block special-alert alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>
	  <% end %>
	<% end %>
</div>

<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top bg-op nav-op">
      <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="padding-top: 10px">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
          	<h1 class="centered slider-text" style="padding-left: 30px">
          		<a class="navbar-brand" href="#home">
					<%= image_tag("logo.png", class: "logo-bns") %>
					<span class="logo-bns-text">BNSERVICE</span>
				</a>
			</h1>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          	<ul class="nav navbar-nav navs-bns">
				<li>
					<a href="#about" class="smoothScroll"> О нас</a>
				</li>
				<li>
					<a href="#contact" class="smoothScroll"> Контакты</a>
				</li>
			</ul>

			<ul id="phone-span" class="nav navbar-nav navbar-right" style="padding-left: 30px; padding-right: 30px">
				<li>
					<h3 class="slider-text tel-bns">
						<span class="icon icon-mobile"></span>
							<a href="tel:+7(8332)49-82-62"> +7(8332)49-82-62 </a>
						<br/>
					</h3>
				</li>
			</ul>
        </div><!--/.nav-collapse -->
      </div>
	</div>
</div>

<!-- start slider -->
<div class="slider_bg" id="home">
	<div class="wrap">
		<div class="slider">
			<!--start-da-slider-->
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Строительно-монтажные работы</h2>
					<p>Монтаж инженерных сетей, строительство объектов связи</p>
				</div>
				<div class="da-slide">
					<h2>Инсталляция и интеграция</h2>
					<p>Инсталляция и интеграция радиоэлектронных и мультимедийных систем</p>
				</div>
				<div class="da-slide">
					<h2>Автоматизация и диспетчеризация</h2>
					<p>Автоматизация и диспетчеризация зданий и технологических процессов</p>
				</div>
			</div>
 		</div>
	</div>
</div>
<!--//End-da-slider-->

<!-- ==== ABOUT ==== -->
<div id="greywrap" name="about">
	<div class="container">
		<div class="row white">
		<br>
			<h1 class="centered">О нас</h1>
			<hr>
			
			<div class="col-lg-6">
				<p>"Bnservice" образована в 2014 году в Кирове.<br>Мы оказываем полный спектр услуг в области телекоммуникаций.</p>
			</div><!-- col-lg-6 -->
			
			<div class="col-lg-6">
				<p>Имеем опыт в настройке и обслуживании средств радиосвязи на базе стандарта DMR, техническом осмотре и техническом обслуживании антенно-мачтовых сооружений.</p>
			</div><!-- col-lg-6 -->
		</div><!-- row -->
	</div>
	<br>
	<br>
	<br>
</div><!-- container -->

<div class="container" id="contact" name="contact">
	<div class="row">
	<br>
	<br>
	<br>
		<h1 class="centered">Свяжитесь с нами</h1>
		<hr>
		<br>
		<br>
		<div class="col-lg-5">
			<h3>Контактная информация</h3>
			<p>
				<span class="icon icon-home"></span> Киров, Россия<br/>
				<span class="icon icon-mobile"></span>
					<a href="tel:+7(8332)49-82-62"> +7(8332)49-82-62 </a>
				<br/>
				<span class="icon icon-envelop"></span> <a href="mailto:info@bnservice.pro?subject=From promo site"> info@bnservice.pro</a> <br/>
			</p>
		</div><!-- col -->
		
		<div class="col-lg-7">
			<h3>Написать письмо</h3>
			<p>
				<%= render :template => 'contacts/new' %>
				<br>
			</p>
		</div><!-- col -->		

	</div><!-- row -->

</div><!-- container -->

<div id="footerwrap" class="bg-op">
	<div class="container">
		<h4>&#x000A9; Bnservice 2017</h4>
	</div>
</div>