// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* start slider */
.slider_bg {
	background:  url('bg.png');
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 3%;
}
.portfolio {
	h1 {
		color: #FFFFFF;
	}	
}
.svg-img {
	stroke: #000000;
	fill:none;
	-webkit-filter: drop-shadow( -5px -5px 5px #fff );
	filter: drop-shadow( -5px -5px 5px #fff );
}
.slider {
	padding: 0 4%;
}
.slider-text {
	font-family: 'PT Sans';
	text-shadow: 1px 1px 1px #000;
	color: #FFFFFF;
}
.big-ico {
	font-size: 100px;
	text-shadow: 3px 3px 3px #000;
}
.logo-text {
	font-family: 'Anton';	
	color: #3498da;	
}
.logo-title {
	font-size: 45px;
	text-shadow: 2px 2px 2px #000;
}
.logo-sub-title {
	position: relative;
	top: -10px;
	font-size: 18px;
	text-shadow: 1px 1px 1px #000;
	font-family: 'PT Sans', sans-serif;
}
.bg-op {
	background: url('shadow.png') repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.nav-op {
	height: 70px;
}